@import "../_base";

blockquote {
  text-align: center;
  color: $primary-color;
  background-color: $background-color;

  p {
    font-size: $blockquote-font-size;
    line-height: 1.5;
  }
}

cite {
  font-style: normal;
}

h2 {
  font-weight: bold;
  font-size: $h2-font-size;
  color: $secondary-color;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: $h3-font-size;
  color: $primary-color;
  text-align: center;
}

.droite {
  float: right;
  margin-left: $margin;
}

.gauche {
  float: left;
  margin-right: $margin;
}

strong,
em {
  color: $primary-color;
}

.italique {
  font-style: italic;
}
